@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.imagen-importar
{
    background-image: url('https://cdn.pixabay.com/photo/2021/03/28/16/22/port-6131793_960_720.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

